
{% extends "FinalGym/padre.html" %}

{% load static %}

{% block contenidoModificable3 %}

<section class="class-center">
    <div class="class-item">
        <div class="center">
                    <div class="center">
                        <img src="{% static 'FinalGym/img/about-us.jpg' %}" alt="">
                    </div>
                    <div class="text">
                        <div class="breadcrumb-text">
                            <h2>Sobre Mi</h2>
                            <p>Mi nombre es Rossina Zagarzazú, soy de Punta del este Uruguay.
                                Tengo 30 años y esta es la primera vez que hago un curso sobre programación.
                            </p>
                        
                    </div>
    

{% endblock %}
</section>