{% extends "FinalGym/padre.html" %}

{% load static %}

{% block contenidoModificable %}

<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team">
                    <div class="section-title">
                        <span>Entrenadores</span>
                        <h2>Registro</h2>
                    </div>
                    
                    <div>
                    
                </div>
            </div>
        </div>
</section>


{% endblock %}


{% block contenidoModificable2 %}
        
<h2>Estos son los entrenadores de TooFitness.</h2>

<h1>{{ name }}</h1>



{% endblock %}


